Repository cilium/hubble, pull requests merged in 2023-05, with the labels that each got.

#1024 .github: Configure renovate tag comment on GHA images
  .github/workflows/build-images-release.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/integration-tests.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: 🤖 area/CI, release-note/ci, needs-backport/0.11

#1028 [v0.11] .github: Configure renovate tag comment on GHA images
  .github/workflows/build-images-release.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: 🤖 area/CI, release-note/ci, backport/0.11

#1030 Add example links to renovate configuration in RELEASE.md
  RELEASE.md
Labels: release-note/misc

#1041 Renovate: Ignore pflag
  .github/renovate.json5
Labels: release-note/misc

#1049 .github: Replace deprecated command with environment file
  .github/workflows/build-images-release.yaml
Labels: 🧹 kind/cleanup, 🤖 area/CI, release-note/misc

#1055 Remove dependabot configuration in favor of renovate
  .github/dependabot.yml
Labels: 🤖 area/CI, release-note/ci, ready-to-merge

#1056 Run renovate on Friday
  .github/renovate.json5
Labels: 🤖 area/CI, release-note/ci, ready-to-merge
